<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Let's Play</title>

    <div th:replace="~{ fragments/fragments :: favicon}"></div>
    <div th:replace="~{ fragments/fragments :: tailwind}"></div>
  </head>
  <body th:object="${event}">
    <div th:replace="~{ fragments/fragments :: navbar}"></div>
    <div class="container mx-auto overflow-hidden my-10">
      <!-- title -->
      <h1
        th:if="${edit}"
        class="lg:text-5xl text-3xl text-slate-700 font-bold italic text-center py-10 px-5"
      >
        Modifica [[${event.name}]]
      </h1>
      <h1
        th:unless="${edit}"
        class="lg:text-5xl text-3xl text-slate-700 font-bold italic text-center pt-10 pb-5"
      >
        Aggiungi evento
      </h1>
      <p class="text-center w-1/2 mx-auto text-gray-400">
        Per l'immagine principale è consigliata un'immagine quadrata che
        rappresenti l'evento, mentre per l'immagine di locandina si consiglia
        un'immagine verticale con su scritti i dettagli utili ai partecipanti.
      </p>
      <form
        th:action="${edit} ? @{/events/edit/{id}(id = ${event.id})} : @{/events/create}"
        th:object="${event}"
        method="post"
        class="flex-col justify-center gap-3 lg:w-2/3 mx-auto p-5 w-screen"
      >
        <div class="flex flex-col lg:flex-row gap-3">
          <!-- name input -->
          <div class="grow">
            <div class="flex flex-col">
              <label class="block text-sm font-medium text-gray-700" for="name"
                >Nome</label
              >
              <input
                class="rounded-lg shadow-lg border-gray-300 border ps-2 py-1"
                type="text"
                id="name"
                th:field="*{name}"
                th:errorClass="bg-red-200"
              />
            </div>
            <!-- validazione -->
            <div th:if="${#fields.hasErrors('name')}">
              <div
                class="italic text-slate-500"
                th:each="error : ${#fields.errors('name')}"
                th:text="${error}"
              ></div>
            </div>
          </div>
          <!-- category input -->
          <div class="grow mb-3">
            <div class="flex flex-col w-full">
              <label
                class="block text-sm font-medium text-gray-700"
                for="category"
                >Categoria</label
              >

              <select
                th:field="${event.category}"
                class="ps-2 py-1 rounded-lg shadow-lg border-gray-300 border"
                name="category"
                id="category"
              >
                <option
                  th:each="category : ${categories}"
                  th:value="${category.id}"
                  th:text="${category}"
                ></option>
              </select>
            </div>
            <!-- validazione -->
            <div th:if="${#fields.hasErrors('category')}">
              <div
                class="italic text-slate-500"
                th:each="error : ${#fields.errors('category')}"
                th:text="${error}"
              ></div>
            </div>
          </div>
        </div>
        <!-- textarea input -->
        <div class="flex flex-col mb-3">
          <label
            class="block text-sm font-medium text-gray-700"
            for="description"
            >Descrizione</label
          >
          <textarea
            placeholder="⚽🏆 Sta per partire il Torneo delle Valli, l’imperdibile appuntamento amatoriale di calcio a 5 che per un mese intero accenderà la passione, la competizione e il divertimento tra amici e squadre locali!

💶 Quota di iscrizione: €120 a squadra
🚿 Servizi inclusi: accesso agli spogliatoi, docce e parcheggio gratuito
👥 Aperto a tutti: gruppi di amici, colleghi, squadre locali
🎯 Formula torneo: fase a gironi + eliminazione diretta
🏅 Premi: trofei per le prime classificate, premi individuali (MVP, miglior portiere, capocannoniere)

Ogni partita è l’occasione perfetta per mettersi alla prova, stringere nuove amicizie e godersi l’atmosfera del vero calcio di quartiere.

📞 Info e iscrizioni: [inserisci contatto email, telefono o link]"
            th:field="*{description}"
            th:errorClass="bg-red-200"
            id="description"
            class="ps-2 py-1 rounded-lg shadow-lg border-gray-300 border min-h-[300px]"
          ></textarea>
          <!-- validazione -->
          <div th:if="${#fields.hasErrors('description')}">
            <div
              class="italic text-slate-500"
              th:each="error : ${#fields.errors('description')}"
              th:text="${error}"
            ></div>
          </div>
        </div>

        <!-- start and end date container -->
        <div
          class="flex flex-col lg:flex-row justify-between items-end gap-3 mb-3"
        >
          <!-- startDate input -->
          <div class="grow">
            <div class="flex flex-col">
              <label
                class="block text-sm font-medium text-gray-700"
                for="startDate"
                >Data di inizio</label
              >
              <input
                class="px-2 py-1 rounded-lg shadow-lg border-gray-300 border"
                type="date"
                id="startDate"
                th:field="*{startDate}"
                th:errorClass="bg-red-200"
              />
            </div>
            <!-- validazione -->
            <div th:if="${#fields.hasErrors('startDate')}">
              <div
                class="italic text-slate-500"
                th:each="error : ${#fields.errors('startDate')}"
                th:text="${error}"
              ></div>
            </div>
          </div>
          <button
            type="button"
            id="endDateButton"
            class="px-3 py-1 h-10 border border-gray-300 shadow-lg rounded-2xl hover:bg-gray-100 text-gray-700 transition cursor-pointer"
            th:onclick="displayEndDate()"
          >
            Multidata
          </button>
          <!-- endDate input -->
          <div id="endDateInput" class="grow hidden">
            <div class="flex flex-col w-full">
              <label
                class="block text-sm font-medium text-gray-700"
                for="endDate"
                >Data di fine
              </label>
              <input
                class="px-2 py-1 rounded-lg shadow-lg border-gray-300 border"
                type="date"
                id="endDate"
                th:field="*{endDate}"
                th:errorClass="bg-red-200"
              />
            </div>
            <!-- validazione -->
            <div th:if="${#fields.hasErrors('endDate')}">
              <div
                class="italic text-slate-500"
                th:each="error : ${#fields.errors('endDate')}"
                th:text="${error}"
              ></div>
            </div>
          </div>
        </div>

        <!-- main image and locandina container -->
        <div class="flex flex-col lg:flex-row gap-3 mb-3">
          <!-- mainImage input -->
          <div class="grow">
            <div class="flex flex-col">
              <label
                class="block text-sm font-medium text-gray-700"
                for="mainImage"
                >Immagine principale</label
              >
              <input
                placeholder="Possibilmente quadrata"
                class="ps-2 py-1 rounded-lg shadow-lg border-gray-300 border"
                type="text"
                id="mainImage"
                th:field="*{mainImage}"
                th:errorClass="bg-red-200"
              />
            </div>
            <!-- validazione -->
            <div th:if="${#fields.hasErrors('mainImage')}">
              <div
                class="italic text-slate-500"
                th:each="error : ${#fields.errors('mainImage')}"
                th:text="${error}"
              ></div>
            </div>
          </div>
          <!-- image input -->
          <div class="grow">
            <div class="flex flex-col">
              <label class="block text-sm font-medium text-gray-700" for="image"
                >Immagine di locandina</label
              >
              <input
                placeholder="Possibilmente verticale"
                class="ps-2 py-1 rounded-lg shadow-lg border-gray-300 border"
                type="text"
                id="image"
                th:field="*{image}"
                th:errorClass="bg-red-200"
              />
            </div>
            <!-- validazione -->
            <div th:if="${#fields.hasErrors('image')}">
              <div
                class="italic text-slate-500"
                th:each="error : ${#fields.errors('image')}"
                th:text="${error}"
              ></div>
            </div>
          </div>
        </div>

        <!-- address and price container -->
        <div class="flex flex-col lg:flex-row gap-3 mb-3">
          <!-- address input -->
          <div class="grow">
            <div class="flex flex-col">
              <label
                class="block text-sm font-medium text-gray-700"
                for="address"
                >Indirizzo</label
              >
              <input
                class="ps-2 py-1 rounded-lg shadow-lg border-gray-300 border"
                type="text"
                id="address"
                th:field="*{address}"
                th:errorClass="bg-red-200"
                placeholder="Via Rossi 34, Torino"
              />
            </div>
            <!-- validazione -->
            <div th:if="${#fields.hasErrors('address')}">
              <div
                class="italic text-slate-500"
                th:each="error : ${#fields.errors('address')}"
                th:text="${error}"
              ></div>
            </div>
          </div>

          <!-- price input -->
          <div class="grow">
            <div class="flex flex-col">
              <label class="block text-sm font-medium text-gray-700" for="price"
                >Prezzo</label
              >
              <input
                class="ps-2 py-1 rounded-lg shadow-lg border-gray-300 border"
                type="text"
                id="price"
                th:field="*{price}"
                th:errorClass="bg-red-200"
                placeholder="10,50"
              />
            </div>
            <!-- validazione -->
            <div th:if="${#fields.hasErrors('price')}">
              <div
                class="italic text-slate-500"
                th:each="error : ${#fields.errors('price')}"
                th:text="${error}"
              ></div>
            </div>
          </div>
        </div>

        <button
          th:onclick="displayRegistrationDate()"
          type="button"
          id="registrationDateButton"
          class="px-3 py-1 h-10 border border-gray-300 shadow-lg rounded-2xl hover:bg-gray-100 text-gray-700 transition cursor-pointer"
        >
          Bisogna iscriversi per questo evento?
        </button>
        <!-- open and close registration date container -->
        <div
          id="registrationDateContainer"
          class="flex flex-col lg:flex-row gap-3 hidden"
        >
          <!-- registrationOpeningDate input -->
          <div class="grow">
            <div class="flex flex-col">
              <label
                class="block text-sm font-medium text-gray-700"
                for="registrationOpeningDate"
                >Data di apertura iscrizioni</label
              >
              <input
                class="px-2 py-1 rounded-lg shadow-lg border-gray-300 border"
                th:type="date"
                id="registrationOpeningDate"
                th:field="*{registrationOpeningDate}"
                th:errorClass="bg-red-200"
              />
            </div>
            <!-- validazione -->
            <div th:if="${#fields.hasErrors('registrationOpeningDate')}">
              <div
                class="italic text-slate-500"
                th:each="error : ${#fields.errors('registrationOpeningDate')}"
                th:text="${error}"
              ></div>
            </div>
          </div>
          <!-- registrationClosingDate input -->
          <div class="grow">
            <div class="flex flex-col w-full">
              <label
                class="block text-sm font-medium text-gray-700"
                for="registrationClosingDate"
                >Data di chiusura iscrizioni</label
              >
              <input
                class="px-2 py-1 rounded-lg shadow-lg border-gray-300 border"
                type="date"
                id="registrationClosingDate"
                th:field="*{registrationClosingDate}"
                th:errorClass="bg-red-200"
              />
            </div>
            <!-- validazione -->
            <div th:if="${#fields.hasErrors('registrationClosingDate')}">
              <div
                class="italic text-slate-500"
                th:each="error : ${#fields.errors('registrationClosingDate')}"
                th:text="${error}"
              ></div>
            </div>
          </div>
        </div>

        <!-- submit button -->
        <button
          class="w-full border border-blue-300 px-3 py-1 rounded-2xl text-gray-700 hover:bg-blue-100 transition cursor-pointer mt-5 shadow-lg"
          type="submit"
        >
          Invia
        </button>
      </form>
    </div>

    <script src="/js/script.js"></script>
  </body>
</html>
