<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Events</title>

    <div th:replace="~{ fragments/fragments :: favicon}"></div>
    <div th:replace="~{ fragments/fragments :: tailwind}"></div>
  </head>
  <body>
    <div th:replace="~{ fragments/fragments :: navbar}"></div>
    <div th:replace="~{ fragments/fragments :: modal}"></div>

    <div class="container mx-auto">
      <div class="flex items-center">
        <div class="w-1/3"></div>
        <h1 class="w-1/3 text-5xl text-slate-700 font-bold italic text-center">
          Eventi
        </h1>
        <a
          class="bg-green-700 text-white hover:bg-green-800 rounded-lg px-3 py-2"
          href="/events/create"
          >Aggiungi evento</a
        >
      </div>

      <p
        id="filtersButton"
        th:onclick="openFilters()"
        class="text-center bg-blue-500 w-40 text-white rounded-lg px-3 py-1 mx-auto my-5 cursor-pointer hover:bg-blue-600"
      >
        Filtri di ricerca
      </p>
      <form
        action="/events/search"
        id="searchForm"
        class="max-w-2xl mx-auto p-6 bg-white rounded-2xl shadow-lg space-y-6 hidden"
      >
        <h2 class="text-2xl font-semibold text-gray-800">Ricerca Avanzata</h2>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <!-- Nome -->
          <div>
            <label for="name" class="block text-sm font-medium text-gray-700"
              >Nome</label
            >
            <input
              type="text"
              id="name"
              name="name"
              class="mt-1 py-1 px-2 block w-full rounded-lg border-gray-300 border shadow-lg"
            />
          </div>

          <!-- Categoria -->
          <div>
            <label
              for="category_id"
              class="block text-sm font-medium text-gray-700"
              >Categoria</label
            >
            <select
              id="category_id"
              name="category_id"
              class="mt-1 py-1 px-2 block w-full border-gray-300 border rounded-lg shadow-lg"
            >
              <option class="text-gray-500" value="">
                Seleziona una categoria
              </option>
              <option
                th:each="category : ${categories}"
                th:value="${category.id}"
                th:text="${category}"
              >
                Seleziona una categoria
              </option>
            </select>
          </div>
        </div>
        <!-- Indirizzo -->
        <div>
          <label for="address" class="block text-sm font-medium text-gray-700"
            >Indirizzo</label
          >
          <input
            type="text"
            id="address"
            name="address"
            class="mt-1 py-1 px-2 block w-full rounded-lg shadow-lg border-gray-300 border"
          />
        </div>

        <div class="flex justify-end gap-3">
          <button
            th:onclick="closeFilters()"
            type="button"
            class="px-6 py-2 bg-red-600 text-white rounded-lg shadow hover:bg-red-700 transition cursor-pointer"
          >
            Annulla
          </button>
          <button
            type="submit"
            class="px-6 py-2 bg-blue-600 text-white rounded-lg shadow hover:bg-blue-700 transition cursor-pointer"
          >
            Cerca
          </button>
        </div>
      </form>

      <div class="w-full my-10">
        <table class="border mx-auto text-center">
          <thead>
            <tr class="border">
              <th class="px-5 py-1">id</th>
              <th class="px-5 py-1">Nome</th>
              <th class="px-5 py-1">Categoria</th>
              <th class="px-5 py-1">Inizio</th>
              <th class="px-5 py-1">Fine</th>
              <th class="px-5 py-1"></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="event : ${events}" th:object="${event}">
              <td class="px-3 py-1" th:text="*{id}"></td>
              <td class="px-3 py-1" th:text="*{name}"></td>
              <td class="px-3 py-1" th:text="*{category}"></td>
              <td
                class="px-3 py-1"
                th:text="${#temporals.format(event.startDate, 'dd-MM-yyyy')}"
              ></td>
              <td
                class="px-3 py-1"
                th:text="${#temporals.format(event.endDate, 'dd-MM-yyyy')}"
              ></td>

              <td class="flex justify-around items-center px-3 py-1">
                <div class="py-3">
                  <a
                    class="bg-blue-600 text-white px-3 py-2 hover:bg-blue-700 transition rounded-2xl"
                    th:href="@{/events/{id}(id = *{id})}"
                    >Dettagli</a
                  >
                  <a
                    class="bg-green-600 text-white px-3 py-2 hover:bg-green-700 transition rounded-2xl"
                    th:href="@{/events/edit/{id}(id = *{id})}"
                    >Modifica</a
                  >
                  <a
                    th:onclick="openModal([[${event.name}]], [[${event.id}]], 'events' )"
                    class="px-3 py-2 bg-red-600 text-white hover:bg-red-700 transition cursor-pointer rounded-2xl"
                    th:text="Elimina"
                  ></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script src="/js/Modal.js"></script>
    <script src="/js/FilterSearch.js"></script>
  </body>
</html>
