<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Let's Play</title>

    <div th:replace="~{ fragments/fragments :: favicon}"></div>
    <div th:replace="~{ fragments/fragments :: tailwind}"></div>
  </head>
  <body class="overflow-x-hidden">
    <div th:replace="~{ fragments/fragments :: navbar}"></div>
    <div th:replace="~{ fragments/fragments :: modal}"></div>

    <div class="container px-2 py-10 mx-auto text-gray-700">
      <div class="flex items-center">
        <div class="w-1/3"></div>
        <h1 class="w-1/3 lg:text-5xl text-3xl font-bold italic text-center">
          Eventi
        </h1>
        <a
          class="border border-green-300 text-gray-700 hover:bg-green-100 transition rounded-2xl px-4 py-1 hidden lg:block shadow-lg"
          href="/events/create"
          >Aggiungi evento</a
        >
        <a
          class="lg:hidden border border-green-300 text-gray-700 font-bold hover:bg-green-100 rounded-2xl px-3 py-1 ms-5"
          href="/events/create"
          >+</a
        >
      </div>

      <p
        id="filtersButton"
        th:onclick="openFilters()"
        class="text-center border border-gray-300 text-gray-700 w-40 shadow-lg rounded-2xl px-3 py-1 mx-auto my-5 cursor-pointer hover:bg-gray-100 transition"
      >
        Filtri di ricerca
      </p>

      <!-- advanced search form -->
      <form
        action="/events/search"
        id="searchForm"
        class="max-w-2xl mx-auto mt-10 rounded-2xl space-y-6 hidden"
      >
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <!-- Nome -->
          <div>
            <label for="name" class="block text-sm font-medium text-gray-700"
              >Nome</label
            >
            <input
              type="text"
              id="name"
              name="name"
              class="mt-1 py-1 px-2 block w-full rounded-lg border-gray-300 border shadow-lg"
            />
          </div>

          <!-- Categoria -->
          <div>
            <label
              for="category_id"
              class="block text-sm font-medium text-gray-700"
              >Categoria</label
            >
            <select
              id="category_id"
              name="category_id"
              class="mt-1 py-1 px-2 block w-full border-gray-300 border rounded-lg shadow-lg"
            >
              <option class="text-gray-500" value="">
                Seleziona una categoria
              </option>
              <option
                th:each="category : ${categories}"
                th:value="${category.id}"
                th:text="${category}"
              >
                Seleziona una categoria
              </option>
            </select>
          </div>
        </div>
        <!-- Indirizzo -->
        <div>
          <label for="address" class="block text-sm font-medium text-gray-700"
            >Indirizzo</label
          >
          <input
            type="text"
            id="address"
            name="address"
            class="mt-1 py-1 px-2 block w-full rounded-lg shadow-lg border-gray-300 border"
          />
        </div>

        <div class="flex justify-end gap-3">
          <button
            th:onclick="closeFilters()"
            type="button"
            class="px-3 py-1 border border-red-300 text-gray-700 rounded-2xl shadow-lg hover:bg-red-100 transition cursor-pointer"
          >
            Annulla
          </button>
          <button
            type="submit"
            class="px-3 py-1 border border-gray-300 shadow-lg rounded-2xl hover:bg-gray-100 text-gray-700 transition cursor-pointer"
          >
            Cerca
          </button>
        </div>
      </form>

      <div class="w-full my-10 px-2">
        <table class="border border-gray-300 mx-auto text-center">
          <thead>
            <tr class="border border-gray-400">
              <td
                class="italic text-gray-500 px-2 lg:px-5 py-1 hidden lg:table-cell"
              >
                id
              </td>
              <td class="italic text-gray-500 px-2 lg:px-5 py-1">Nome</td>
              <td class="italic text-gray-500 px-2 lg:px-5 py-1">Categoria</td>
              <td
                class="italic text-gray-500 px-2 lg:px-5 py-1 hidden lg:table-cell"
              >
                Inizio
              </td>
              <td
                class="italic text-gray-500 px-2 lg:px-5 py-1 hidden lg:table-cell"
              >
                Fine
              </td>
              <td class="italic text-gray-500 px-2 lg:px-5 py-1"></td>
            </tr>
          </thead>
          <tbody>
            <tr th:each="event : ${events}" th:object="${event}">
              <td class="px-3 py-1 hidden lg:table-cell" th:text="*{id}"></td>
              <td class="px-3 py-1" th:text="*{name}"></td>
              <td class="px-3 py-1" th:text="*{category}"></td>
              <td
                class="px-3 py-1 hidden lg:table-cell"
                th:text="${#temporals.format(event.startDate, 'dd-MM-yy')}"
              ></td>
              <td
                class="px-3 py-1 hidden lg:table-cell"
                th:text="${#temporals.format(event.endDate, 'dd-MM-yy')}"
              ></td>

              <td class="flex justify-around items-center px-3 lg:py-1">
                <div class="py-3 flex flex-col lg:flex-row gap-1">
                  <a
                    class="border border-gray-300 text-gray-700 px-3 py-1 hover:bg-gray-100 shadow-lg transition rounded-2xl"
                    th:href="@{/events/{id}(id = *{id})}"
                    >Dettagli</a
                  >
                  <a
                    class="border-gray-300 border text-gray-700 px-3 py-1 hover:bg-gray-100 shadow-lg transition rounded-2xl"
                    th:href="@{/events/edit/{id}(id = *{id})}"
                    >Modifica</a
                  >
                  <a
                    th:onclick="openModal([[${event.name}]], [[${event.id}]], 'events' )"
                    class="px-3 py-1 border border-red-300 text-gray-700 hover:bg-red-100 transition cursor-pointer shadow-lg rounded-2xl"
                    th:text="Elimina"
                  ></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
