<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Let's Play</title>

    <div th:replace="~{ fragments/fragments :: favicon}"></div>
    <div th:replace="~{ fragments/fragments :: tailwind}"></div>
  </head>
  <body th:object="${event}">
    <div th:replace="~{ fragments/fragments :: navbar}"></div>
    <div th:replace="~{ fragments/fragments :: modal}"></div>

    <div class="container mx-auto px-2 py-5 lg:py-10 text-gray-700">
      <div class="flex flex-col lg:flex-row">
        <section class="lg:w-1/3 w-full flex justify-end">
          <img
            class="rounded-2xl lg:h-180 w-full"
            th:src="@{*{image}}"
            alt=""
          />
        </section>
        <section
          class="lg:w-2/3 lg:px-5 px-2 gap-5 flex flex-col justify-start items-start"
        >
          <div class="w-full mt-5">
            <h1
              class="lg:text-5xl text-3xl text-center lg:text-start font-bold"
              th:text="*{name}"
            ></h1>
            <h2
              class="lg:text-3xl text-2xl text-center lg:text-start italic"
              th:text="*{category}"
            ></h2>
          </div>
          <p
            class="lg:text-lg text-md"
            th:text="*{description}"
            style="white-space: pre-line"
          ></p>
          <ul>
            <li class="list-disc list-inside">
              <span class="font-bold">Inizio evento: </span
              ><span
                th:text="*{#temporals.format(startDate, 'dd / MM / yyyy')}"
              ></span>
            </li>
            <li class="list-disc list-inside">
              <span class="font-bold">Fine evento: </span
              ><span
                th:text="*{#temporals.format(endDate, 'dd / MM / yyyy')}"
              ></span>
            </li>
            <li class="list-disc list-inside">
              <span class="font-bold">Apertura iscrizioni: </span
              ><span
                th:text="*{#temporals.format(registrationOpeningDate, 'dd / MM / yyyy')}"
              ></span>
            </li>
            <li class="list-disc list-inside">
              <span class="font-bold">Chiusura iscrizioni: </span
              ><span
                th:text="*{#temporals.format(registrationClosingDate, 'dd / MM / yyyy')}"
              ></span>
            </li>
            <li class="list-disc list-inside">
              <span class="font-bold">Indirizzo: </span
              ><span th:text="*{address}"></span>
            </li>
          </ul>
        </section>
      </div>
      <hr class="my-10" />
      <div class="flex gap-5 justify-end items-center">
        <a
          class="border-gray-300 border text-gray-700 px-3 py-1 hover:bg-gray-100 shadow-lg transition rounded-2xl"
          th:href="@{/events/edit/{id}(id = *{id})}"
          >Modifica</a
        >
        <a
          th:onclick="openModal([[${event.name}]], [[${event.id}]], 'events' )"
          class="px-3 py-1 border border-red-300 text-gray-700 hover:bg-red-100 transition cursor-pointer shadow-lg rounded-2xl"
          th:text="Elimina"
        ></a>
      </div>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
