<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>[[${event.name}]]</title>

    <div th:replace="~{ fragments/fragments :: favicon}"></div>
    <div th:replace="~{ fragments/fragments :: tailwind}"></div>
  </head>
  <body th:object="${event}">
    <div th:replace="~{ fragments/fragments :: navbar}"></div>
    <div class="container bg-red-300 mx-auto">
      <div class="flex">
        <section class="w-1/3 flex justify-end">
          <img class="rounded-2xl h-180 " th:src="@{*{image}}" alt="" />
        </section>
        <section
          class="w-2/3 px-5 gap-5 flex flex-col justify-start items-start"
        >
          <div>
            <h1 class="text-5xl text-center font-bold" th:text="*{name}"></h1>
            <h2 class="text-3xl italic" th:text="*{category}"></h2>
          </div>
          <p
            class="text-lg"
            th:text="*{description}"
            style="white-space: pre-line"
          ></p>
          <ul>
            <li class="list-disc list-inside">
              <span class="font-bold">Inizio evento: </span
              ><span
                th:text="*{#temporals.format(startDate, 'dd / MM / yyyy')}"
              ></span>
            </li>
            <li class="list-disc list-inside">
              <span class="font-bold">Fine evento: </span
              ><span
                th:text="*{#temporals.format(endDate, 'dd / MM / yyyy')}"
              ></span>
            </li>
            <li class="list-disc list-inside">
              <span class="font-bold">Apertura iscrizioni: </span
              ><span
                th:text="*{#temporals.format(registrationOpeningDate, 'dd / MM / yyyy')}"
              ></span>
            </li>
            <li class="list-disc list-inside">
              <span class="font-bold">Chiusura iscrizioni: </span
              ><span
                th:text="*{#temporals.format(registrationClosingDate, 'dd / MM / yyyy')}"
              ></span>
            </li>
            <li class="list-disc list-inside">
              <span class="font-bold">Indirizzo: </span
              ><span th:text="*{address}"></span>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </body>
</html>
