<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Let's Play</title>

    <div th:replace="~{ fragments/fragments :: favicon}"></div>
    <div th:replace="~{ fragments/fragments :: tailwind}"></div>
  </head>
  <body>
    <div th:replace="~{ fragments/fragments :: navbar}"></div>
    <div class="container mx-auto my-10">
      <form
        th:action="${edit} ? @{/categories/edit/{id}(id = ${category.id})} : @{/categories/create}"
        th:object="${categoryForm}"
        method="post"
        class="flex flex-col justify-between items-center w-100 mx-auto"
      >
        <div class="flex flex-col w-full">
          <label class="block text-sm font-medium text-gray-700" for="name"
            >Nome Categoria:</label
          >
          <input
            class="rounded-lg shadow-lg border-gray-300 border ps-2 py-1"
            type="text"
            id="name"
            th:field="*{name}"
            required
          />
          <input th:if="${edit}" type="hidden" th:field="${category.id}" />
        </div>

        <div class="w-100" id="imageUrls">
          <div
            class="image-url flex justify-between items-end gap-3"
            th:each="url, iterStat : *{imageUrls}"
          >
            <div class="w-full">
              <div class="flex flex-col mt-5">
                <label
                  class="block text-sm font-medium text-gray-700"
                  th:if="${iterStat.index == 0}"
                  >URL Immagini:</label
                >
                <input
                  class="rounded-lg shadow-lg border-gray-300 border ps-2 py-1"
                  type="text"
                  th:field="*{imageUrls[__${iterStat.index}__]}"
                />
                <img
                  class="rounded-2xl mt-3 w-full aspect-square object-cover bg-gray-100"
                  th:src="@{*{imageUrls[__${iterStat.index}__]}}"
                  alt="Anteprima immagine"
                />
              </div>
              <button
                class="w-full border border-red-300 px-3 py-1 rounded-2xl text-gray-700 hover:bg-red-100 transition cursor-pointer mt-5 shadow-lg"
                type="button"
                onclick="removeImageUrl(this)"
              >
                Rimuovi
              </button>
              <span
                th:if="${#fields.hasErrors('imageUrls[__${iterStat.index}__]')}"
                th:errors="*{imageUrls[__${iterStat.index}__]}"
              ></span>
              <hr class="my-3" />
            </div>
          </div>
        </div>

        <!-- buttons -->
        <div>
          <button
            class="border border-gray-300 px-3 py-1 rounded-2xl text-gray-700 hover:bg-gray-100 transition cursor-pointer mt-5 shadow-lg"
            type="button"
            onclick="addImageUrl()"
          >
            Aggiungi immagine
          </button>
          <button
            th:if="${edit}"
            class="border border-blue-300 px-3 py-1 rounded-2xl text-gray-700 hover:bg-blue-100 transition cursor-pointer mt-5 shadow-lg"
            type="submit"
          >
            Modifica categoria
          </button>
          <button
            th:unless="${edit}"
            class="border border-blue-300 px-3 py-1 rounded-2xl text-gray-700 hover:bg-blue-100 transition cursor-pointer mt-5 shadow-lg"
            type="submit"
          >
            Aggiungi categoria
          </button>
        </div>
      </form>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
